.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

:root {
  --color-white: #ffffff;
  --color-gray: #f5f5f5;
  --color-gray-light: #878da1;
  --color-gray-dark: #d8d8d8;
  --color-teal: #3d6c9c;
  --color-teal-light: rgba(73, 154, 229, 0.3);
  --color-teal-light-bar-chart: #3fbac0;
  --color-blue: #4464df;
  --color-blue-medium: #d9e7fe;
  --color-blue-light: #ebf4ff;

  --color-shadow-gray: rgba(165, 165, 165, 0.65);
}

* {
  font-family: Roboto, sans-serif;
}
:root {
  --font-size-small: 13px;
}

* {
  --padding-normal: 3px 10px;
}

.same-row {
  display: flex;
}

.pad-left-10 {
  padding-left: 10px;
}

.pad-top-10 {
  padding-top: 10px;
}

.align-middle {
  align-items: center;
}

:root {
  --title-font-size: 17px;

  --box-height: 530px;
}

.box {
  background-color: var(--color-white);
  height: inherit;
  box-shadow: 0 2px 5px 0 var(--color-shadow-gray);
  border-radius: 3px;
  height: 530px;
  height: var(--box-height);
}
.box-title-container {
  display: flex;
  justify-content: space-between;
}
.box-title-icon {
  padding-right: 15px;
  padding-top: 15px;
  cursor: pointer;
  color: var(--color-teal);
}
.box-title {
  padding: var(--padding-normal);
  font-size: 17px;
  font-size: var(--title-font-size);
  color: var(--color-teal);
  display: inline-block;
  vertical-align: middle;
  line-height: 39px;
  font-weight: 500;
  flex: 1 1;
  margin: 0;
}

.box-title-separator {
  color: var(--color-teal);
  line-height: 1px;
  border: 1px var(--color-teal-light) solid;
}

.box-body {
  padding: var(--padding-normal);
}

.gps-box {
  display: inline-block;
  width: 300px;
  padding: 15px 0 15px 6px;
  border-bottom: 1px solid var(--color-gray-dark);
  cursor: pointer;
}

.gps-box:hover {
  background-color: var(--color-blue-light);
}

.gps-box-selected {
  background-color: var(--color-blue-medium);
}

.gps-data {
  font-size: var(--font-size-small);
}

.gps-visits {
  color: var(--color-gray-light);
}

.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: #1ea7fd;
}

ul {
  padding-left: 30px;
  margin: 1em 0;
}

li {
  margin-bottom: 8px;
}

.tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

.tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

.tip-wrapper svg path {
  fill: #1ea7fd;
}

.vbar-chart-container {
  padding: var(--padding-normal);
}

.vbar-chart-item-value {
  width: 100%;
  border-radius: 2px;
  margin-top: 2px;
  background-image: linear-gradient(to right, var(--color-blue), var(--color-teal-light-bar-chart));
}

.vbar-chart-item-container {
  padding-bottom: 10px;
  width: calc(100% - 10px);
}

.vbar-chart-item-title {
  font-size: 10pt;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}


/*# sourceMappingURL=main.b1d89650.chunk.css.map*/